<nav>
  <ul data-controller="xyz" data-action="abc@document->xyz#hello">
    <li><%= link_to "首頁", root_path %></li>
    <li><%= link_to "看板列表", boards_path %></li>
    <li><%= link_to "購買點數卡", pricing_path %></li>
  </ul>
  <ul>
    <% if current_user %>
      <li data-controller="cart" data-action="abc@document->cart#update">
          <%= link_to cart_path do %>
            <i class="fas fa-cat"></i>
            (<span data-target="cart.detail"><%= current_cart.items.count %> / <%= current_cart.total_price %></span>)
          <% end %>
      </li>
      <li><%= current_user.nickname %></li>
      <li><%= link_to "登出", sign_out_users_path, method: 'delete' %></li>
    <% else %>
      <li><%= link_to "註冊", sign_up_users_path %></li>
      <li><%= link_to "登入", sign_in_users_path %></li>
    <% end %>
  </ul>
</nav>
